<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>로그인</title>
</head>
<body>
    <section>
        <header>
            <h2>로그인</h2>
        </header>
        <form action="{{ url_for('login') }}" method="POST">
            <label for="username">아이디:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">패스워드:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">로그인</button>
        </form>
        {% if error %}
        <aside>{{ error }}</aside>
        {% endif %}
    </section>
</body>
</html>
